@tailwind base;
@tailwind components;
@tailwind utilities;

/*CSS Variables*/
@layer base {
    :root {
        --background: 20 14% 4%;
        --background-secondary: 240 6% 10%;
        --foreground: 213 31% 91%;

        --muted: 223 47% 11%;
        --muted-foreground: 0 0% 45%;

        --popover: 224 71% 4%;
        --popover-foreground: 215 20.2% 65.1%;

        --card: 224 71% 4%;
        --card-foreground: 213 31% 91%;

        --border: 240 5% 26%;
        --input: 240 5% 26%;

        --primary: 0 84% 60%;
        --primary-foreground: 0 93% 94%;

        --secondary: 0 0% 9%;
        --secondary-foreground: 0 0% 100%;

        --accent: 216 34% 17%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 63% 31%;
        --destructive-foreground: 210 40% 98%;

        --ring: 240 4% 46%;

        --radius: 0.5rem;
        --font-sans: Inter, sans-serif;
    }
}

@layer base {
    body {
        font-feature-settings: "rlig" 1, "calt" 1;
    }
}


@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url("/fonts/inter/Inter-Thin.woff2?v=3.19") format("woff2"),
    url("/fonts/inter/Inter-Thin.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url("/fonts/inter/Inter-ThinItalic.woff2?v=3.19") format("woff2"),
    url("/fonts/inter/Inter-ThinItalic.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("/fonts/inter/Inter-ExtraLight.woff2?v=3.19") format("woff2"),
    url("/fonts/inter/Inter-ExtraLight.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url("/fonts/inter/Inter-ExtraLightItalic.woff2?v=3.19") format("woff2"),
    url("/fonts/inter/Inter-ExtraLightItalic.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("/fonts/inter/Inter-Light.woff2?v=3.19") format("woff2"),
    url("/fonts/inter/Inter-Light.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url("/fonts/inter/Inter-LightItalic.woff2?v=3.19") format("woff2"),
    url("/fonts/inter/Inter-LightItalic.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/inter/Inter-Regular.woff2?v=3.19") format("woff2"),
    url("/fonts/inter/Inter-Regular.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/inter/Inter-Italic.woff2?v=3.19") format("woff2"),
    url("/fonts/inter/Inter-Italic.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("/fonts/inter/Inter-Medium.woff2?v=3.19") format("woff2"),
    url("/fonts/inter/Inter-Medium.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url("/fonts/inter/Inter-MediumItalic.woff2?v=3.19") format("woff2"),
    url("/fonts/inter/Inter-MediumItalic.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/fonts/inter/Inter-SemiBold.woff2?v=3.19") format("woff2"),
    url("/fonts/inter/Inter-SemiBold.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url("/fonts/inter/Inter-SemiBoldItalic.woff2?v=3.19") format("woff2"),
    url("/fonts/inter/Inter-SemiBoldItalic.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/inter/Inter-Bold.woff2?v=3.19") format("woff2"),
    url("/fonts/inter/Inter-Bold.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/inter/Inter-BoldItalic.woff2?v=3.19") format("woff2"),
    url("/fonts/inter/Inter-BoldItalic.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("/fonts/inter/Inter-ExtraBold.woff2?v=3.19") format("woff2"),
    url("/fonts/inter/Inter-ExtraBold.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url("/fonts/inter/Inter-ExtraBoldItalic.woff2?v=3.19") format("woff2"),
    url("/fonts/inter/Inter-ExtraBoldItalic.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("/fonts/inter/Inter-Black.woff2?v=3.19") format("woff2"),
    url("/fonts/inter/Inter-Black.woff?v=3.19") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url("/fonts/inter/Inter-BlackItalic.woff2?v=3.19") format("woff2"),
    url("/fonts/inter/Inter-BlackItalic.woff?v=3.19") format("woff");
}


/*hide scrollbars because they're ugly*/
html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html,
body {
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
}





